$color-primary-light-cyan: hsl(193, 38%, 86%);
$color-primary-neon-green: hsl(150, 100%, 66%);

$color-neutral-dark-blue: hsl(209, 23%, 22%);
$color-neutral-very-dark-blue-background: hsl(207, 26%, 17%);
$color-neutral-very-dark-blue-text: hsl(200, 15%, 8%);
$color-neutral-dark-gray: hsl(0, 0%, 52%);
$color-neutral-very-light-gray: hsl(0, 0%, 98%);
$color-neutral-white: hsl(0, 0%, 100%);

$font-size: 28px;
$font-size-homepage-items: 14px;
$font-size-detail-page: 16px;
